
/backend/app/__pycache__
/backend/app/routes/__pycache__
/UP-MAVT/__pycache__
UP-MAVT/aggregation_methods.py
UP-MAVT/alternatives_CH.csv
UP-MAVT/alternatives_FR.csv
UP-MAVT/alternatives_IT.csv
UP-MAVT/alternatives_PO.csv
UP-MAVT/auxiliary.py
UP-MAVT/BWT_results_1_weights_IT.csv
UP-MAVT/constraints.py
UP-MAVT/criteria.csv
UP-MAVT/generate_weight_spaces.py
UP-MAVT/main.py
UP-MAVT/pile_bwt.py
UP-MAVT/pile_bwt_7WVLVCGU.csv
UP-MAVT/plot_results.py
UP-MAVT/plotting.py
UP-MAVT/up_mavt.py
UP-MAVT/value_functions_7WVLVCGU.csv
UP-MAVT/weight_space_output.csv
UP-MAVT/weight_spaces_comparison.png
/UP-MAVT
/UPMAVTcode/results
/UPMAVTcode
*.md
update_ref_case_study.py
update_ref_case_study_correct.py
/worker/scripts/__pycache__
